<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  amlns:th="http://www.thymeleaf.org">
	  <head>
	  <meta charset="utf-8">
	  </head>
	  <body>
	  <div align="center" >
	  	  <br><hr>
	  <table border="1">
	  <thead>
	  <tr>
	  	<th>Product ID</th>
	 	<th>Product Name</th>
	 	<th>Brand Name</th>
	 	<th>Product Price</th>
	  </tr>
	  </thead>
	  <tbody>
	  
	  <tr th:each="p:${p3}">
	 	<td th:text="${p.product_id}">Product ID</td>
	 	<td th:text="${p.product_name}">Product Name</td>
	 	<td th:text="${p.brand_name}">Brand Name</td>
	 	<td th:text="${p.price}">Product Price</td>
	 </tr>
	  </tbody>
	  </table>
	  </center>
	  </div>
	  </body>
</html>			
